a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline solid black;
    
}

.margendiv{
    margin: 40px;
}

.margenp{
    margin-left: auto;
    margin-right: auto;
}


.map{
    width: 100%;
    height: 90px;
}

article {
    position: relative;
    width: 350px;
    transition: all .3s ease;
    text-align: center;
}

article img:first-child {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    width: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(10%);
    transition: .3s ease;
    opacity: 0;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(0);
}
